*
{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 970px;
    background-color: #1C345D;
    margin: 0px auto;
    display: inline-block; 
   }   
#header
{
    height: 60px;
    background-color: red;
    margin: 10px 20px 20px 20px;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}
.header2
{
    height: 40px;
    background-color: red;
    margin: 10px 20px;
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    color: #C2D6EC;
}
#navigation
{
    height: 240px;
    width: 220px;
    background-color: #2A7D8C;
    text-decoration: underline;
    margin: 0px 10px 0px 10px; 
    border: 1px solid black;
    border-radius: 10px;
    color: #53DAE6;
    display: inline-block;
    vertical-align: top;
}
.navigation2
{
    height: auto;
    margin: 10px;
    background-color: #2A7D8C;
    font-weight: bold;
}
.in-depth
{
    height: auto;
    margin: 0px 0px 0px 5px;

}
#main_content
{
    height: auto;
    width: 700px;
    margin: 0px 0px 20px 0px;
    background-color: #0E1822;
    display: inline-block;
    border-radius: 10px;
}
#footer
{
    height: 50px;
    background-color:#5D6573;
    border-radius: 10px;
    margin: 0px 10px 10px ;
}
ul
{
    height: auto;
    margin: 0px 0px 0px 20px;
}
.subcontents1
{
    height: 35px;
    margin: 20px 20px 0px 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #C2D6EC;
}
.subcontents2
{
    margin: 0px 10px 0px 20px;
    display: inline-block;
    color: #C2D6EC;
    font-size: 12px;
}
.subcontents3
{
    margin: 10px;
}
#main_content li
{
    color: #C2D7E4;
    font-size: 12px;
}
#list
{
    color: #53DAE6;
    text-decoration: underline;
    font-size: 12px;
    display: inline-block;
}
#purple
{
    color:#808EFF;
}
.footer2
{
    margin: 20px 0px 10px 10px;
    color: #C2D7E4;
    display: inline-block;
    font-size: 12px;
}
a
{
    color: #53DAE6;
}
